<%- include('../partials/html-head') %>


<main>
    <img class="animate__animated animate__backInRight" id='logo' src='https://i.imgur.com/nj8Wsml.png' alt="logo"/>
    <%- include('../partials/nav') %>
    <h1 class='animate__animated animate__backInRight' >All Items</h1>
    <section class='animate__animated animate__backInRight' >
            <% items.forEach((item) => { %> 
                    <div>
                    <p> <%= item.title %> </p>
                    <img src= "<%= item.imageUrl %>" alt="Image of Item" class="item-img">
                    </div>
                    <a href="/items/<%= item._id %> ">Details</a>
                    <div>
                    </a>
                    <% if (user) { %> 
                    <% if (user.isAdmin) { %> 
                    <div>
                    <a href="/items/<%= item._id %>/edit">
                        <button>Edit Item</button>
                      </a>
                    </div>
                    <form action="/items/<%= item._id %>?_method=DELETE" method="POST">
                    <button>Delete item</button>
                    </form>
                    <% } %>
                    <% } %>
                <% }) %> 
    </section>
</main>

<%- include('../partials/footer') %>