<%- include('../partials/html-head') %>


<main>
    <img id='logo' src='https://i.imgur.com/nj8Wsml.png' alt="logo"/>
    <%- include('../partials/nav') %>
    <h1>Miscellanous Crafts</h1>
    <section>
            <% items.forEach((item) => { %> 
                    <div>
                    <p> <%= item.title %> </p>
                    <img src= "<%= item.imageUrl %>" alt="Image of Item" class="item-img">
                    </div>
                    <a href="/items/<%= item._id %> ">Details</a>
                    <div>
                    </a>
                    <div>
                      <% if(user) { %>
                        <% if(user.isAdmin) { %>  
                    <a href="/items/<%= item._id %>/edit">
                        <button>Edit Item</button>
                      </a>
                    </div>
                    <form action="/items/<%= item._id %>?_method=DELETE" method="POST">
                    <button>Delete item</button>
                    </form>
                    <% } %>
                    <% } %>  
                <% }) %> 
    </section>
</main>

<%- include('../partials/footer') %>