<%- include('../partials/html-head') %>

    <main>
        <img class="animate__animated animate__slideInDown" id='logo' src='https://i.imgur.com/nj8Wsml.png' alt="logo" />
        <%- include('../partials/nav') %>
            <h1 class="title">
                <%= item.title %>
            </h1>
            <img id='showItem' src='<%= item.imageUrl %>'>

            <section id="show-details">
                <p>Price: <%= item.price %>
                </p>
                <div>Info:</div>
                <div>
                    <%= item.info %>
                </div>
            </section>

            <section>
                <% if (user) { %> 
                <form id="review-form" action="/items/<%= item._id %>/reviews" method="POST">
                    <label class="form-label" for="review-user">Your name(optional):</label>
                    <textarea class="form-control" name="username" id="review-form"></textarea>
                    <label class="form-label" for="review-text">Review:</label>
                    <textarea class="form-control" name="content" id="review-form" cols="45" rows="2"></textarea>
                    <label class="form-label" for="rating-dropdown">Rating:</label>
                    <select class="btn btn-secondary dropdown-toggle" name="rating" id="rating-dropdown">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5" selected>5</option>
                    </select>
                    <button class="btn btn-secondary" type="submit">Add Review</button>
                    <% } %> 
                    <% if (item.reviews.length) { %>
                        <table class='table table-primary table-striped'>
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Date</th>
                                    <th>Review</th>
                                    <th>Rating</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% item.reviews.forEach(function(review) { %>
                                    <tr>
                                        <td>
                                            <%= review.username %>
                                        </td>
                                        <td>
                                            <%= review.createdAt.toLocaleDateString() %>
                                        </td>
                                        <td>
                                            <%= review.content %>
                                        </td>
                                        <td>
                                            <%= review.rating %>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                        <% } else { %>
                            <h2 id="no-reviews">No Reviews yet</h2>
                            <% } %>
                            <% if(!user) { %> 
                                <link rel="stylesheet" href="/stylesheets/siwg.css">
                                <h3 id='no-reviews'>(sign in to leave a review!)</h3>
                                <a href="/auth/google" class="siwg-link">
                                    <button type="submit" class="siwg">
                                      <img id="siwg-image" alt="Sign in with Google" />
                                    </button>
                                  </a>
                                <% } %> 
                                
                </form>
            </section>
    </main>


    <%- include('../partials/footer') %>